.footer {
  width: 100%;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer-contacts {
  display: block;
  width: 1180px;
  margin: 0 auto;
}

.footer-contacts__title-h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
}

.footer-contacts-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 156px;
}

.footer-contacts-container-block {
  width: 400px;
}

.footer-contacts-container-block-map-figure {
  width: 680px;
  height: 274px;
}

.footer-contacts-container-block-list {
  position: relative;
  padding-left: 41px;
}

.footer-contacts-container-block-list__text-city {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 39px;
}

.footer-contacts-container-block-list__text-city::before {
  content: "";
  background-image: url("/img/footer-contacts/location.png");
  background-size: contain;
  position: absolute;
  width: 35px;
  height: 32px;
  left: -41px;
  top: 15px;
}

.footer-contacts-container-block-list__text-tel {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  position: relative;
  padding-bottom: 11px;
}

.footer-contacts-container-block-list__text-tel::before {
  content: "";
  background-image: url("/img/footer-contacts/phone.svg");
  background-size: contain;
  position: absolute;
  width: 35px;
  height: 32px;
  left: -41px;

}

.footer-contacts-container-block-list__text-mail {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  position: relative;
  padding-bottom: 40px;
}

.footer-contacts-container-block-list__text-mail::before {
  content: "";
  background-image: url("/img/footer-contacts/envelope.png");
  background-size: contain;
  position: absolute;
  width: 35px;
  height: 32px;
  left: -41px;
}

.footer-contacts-container-block-sns-list {
  display: flex;
  width: 280px;
  justify-content: space-between;
}

.svg {
  color: var(--color-gray, #EADEED);
  outline: 1px solid transparent;
  outline-offset: 3px;
}

.svg:hover {
  color: var(--color-gray, #EADEED);
}

.svg:active {
  color: var(--color-violet, #CD06FF);
}

.svg:focus {
  color: var(--color-violet), #CD06FF;
  outline-color: var(--color-violet, #CD06FF);
}

.footer-contacts-last {
  display: flex;
  justify-content: space-between;
}

.footer-contacts-last__date {
  width: 125px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer-contacts-last__developer {
  width: 157px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.li-sns {
  display: block;
  width: 50px;
  height: 50px;
  outline: 1px solid transparent;
  outline-offset: 3px;
}

.li-sns:hover {
  color: var(--color-gray, #EADEED);
}

.li-sns:active {
  color: var(--color-violet, #CD06FF);
}

.li-sns:focus {
  color: var(--color-gray, #EADEED);
  outline-color: var(--color-violet, #CD06FF);
}

@media (max-width: 1200px) {
  .footer-contacts {
    width: 904px;
  }

  .footer-contacts__title-h2 {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 26px;
  }

  .footer-contacts-container {
    padding-bottom: 92px;
  }

  .footer-contacts-container-block {
    max-width: 303px;
    font-size: 24px;
    line-height: 28px;
  }

  .footer-contacts-container-block-map-figure {
    width: 542px;
    height: 274px;
  }
}

@media (max-width: 992px) {
  .footer-contacts {
    width: 688px;
  }

  .footer-contacts__title-h2 {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 30px;
  }

  .footer-contacts-container {
    flex-wrap: wrap;
    padding-bottom: 75px;
  }

  .footer-contacts-container-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 303px;
    font-size: 24px;
    line-height: 28px;
  }

  .footer-contacts-container-block-list__text-city::before {
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    left: 29px;
    top: -4px;
  }

  .footer-contacts-container-block-list__text-tel::before {
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    left: -2px;
  }

  .footer-contacts-container-block-list__text-mail::before {
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    left: -38px;
  }

  .footer-contacts-container-block-sns-list {
    max-width: 238px;
    padding-bottom: 30px;
  }

  .footer-contacts-container-block-map-figure {
    width: 688px;
    height: 337px;
  }
}

@media (max-width: 576px) {
  .footer-contacts {
    width: 280px;
  }

  .footer-contacts__title-h2 {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 15px;
  }

  .footer-contacts-container {
    flex-wrap: wrap;
    padding-bottom: 63px;
  }

  .footer-contacts-container-block-list__text-city {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
  }

  .footer-contacts-container-block-list__text-tel {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
  }

  .footer-contacts-container-block-list__text-mail {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
  }

  .footer-contacts-container-block-list__text-city::before {
    width: 20px;
    height: 20px;
    left: 20px;
    top: -2px;
  }

  .footer-contacts-container-block-list__text-tel::before {
    width: 20px;
    height: 20px;
    left: -2px;
  }

  .footer-contacts-container-block-list__text-mail::before {
    width: 20px;
    height: 20px;
    left: -27px;
  }

  .footer-contacts-container-block-sns-list {
    max-width: 180px;
    padding-bottom: 30px;
  }

  .li-sns {
    width: 30px;
    height: 30px;
  }

  .footer-contacts-container-block-map-figure {
    width: 280px;
    height: 194px;
  }

  .footer-contacts-last {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }

  .footer-contacts-last__date {
    padding-bottom: 19px;
  }
}