.footer{
  width: 100%;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer-contacts {
  display:block;
  width: 1180px;
  margin: 0 auto;
  
}

.footer-contacts__title-h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center; 
  padding-bottom: 54px;
}

.footer-contacts-container{
  display: flex;
  margin: 0 auto;
  gap: 60px;
  padding-bottom: 156px;
}

.footer-contacts-container-block{
  width: 400px;
}

.footer-contacts-container-block-map{
  width: 680px;
}

.footer-contacts-container-block-list{
  position: relative;
  width: 380px;
  left: 60px;
}

.footer-contacts-container-block-list__text-city {
  position: relative;
  left: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  left: 1em;
  padding-bottom: 38px;
}

.footer-contacts-container-block-list__text-city::before {
  content:"";
  background-image: url("/img/footer-contacts/location.png");
  background-size: contain;
  position: absolute;
  width: 35px;
  height: 32px;
  left: -50px;
  top: 15px;
}

.footer-contacts-container-block-list__text-tel {
  font-weight: 700;
  left: 100px;
  font-size: 24px;
  line-height: 28px;
  position: relative;
  left: 1em;
  padding-bottom: 11px;
}

.footer-contacts-container-block-list__text-tel::before {
  content:"";
  background-image: url("/img/footer-contacts/phone.svg");
  background-size: contain;
  position: absolute;
  width: 35px;
  height: 32px;
  left: -50px;

}

.footer-contacts-container-block-list__text-mail {
  font-weight: 700;
  left: 100px;
  font-size: 24px;
  line-height: 28px;
  position: relative;
  left: 1em;
}

.footer-contacts-container-block-list__text-mail::before {
  content:"";
  background-image: url("/img/footer-contacts/envelope.png");
  background-size: contain;
  position: absolute;
  width: 35px;
  height: 32px;
  right: 47.5em;
  left: -50px;
}

.footer-contacts-container-block-sns-list {
  display: flex;
  padding-top: 1em;
  }

.footer-contacts-container-block-sns-list__soc-link--pinterest {
  padding: 1em;
}

.footer-contacts-container-block-sns-list__soc-link--vk {
  padding: 1em;
}

.footer-contacts-container-block-sns-list__soc-link--stumbl {
  padding: 1em;
}

.footer-contacts-container-block-sns-list__soc-link--telegram {
  padding: 1em;
}

.footer-contacts-last{
  display: flex;
  justify-content: space-between;
}

.footer-contacts-last__date{
  width: 125px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer-contacts-last__developer{
  width: 157px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.li-sns{
  display: block;
  width: 50px;
  height: 50px;
  outline: 1px solid transparent;
  outline-offset: 3px;
}

.li-sns:hover{
  color: #EADEED;
}

.li-sns:active{
  color: #CD06FF;
}

.li-sns:focus{
  color: #EADEED;
  outline-color: #CD06FF;
}

