.header-nav {
  display: flex;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 38px 0 0;
}

.header-nav__small {
  display: none;
}

.header-logo__go {
  width: 120px;
  height: 66px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='120' height='66' viewBox='0 0 120 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M39.6553 40.0361V32.5898H56.7451V47.8486C53.4736 50.0785 50.5765 51.6003 48.0537 52.4141C45.5472 53.2116 42.5687 53.6104 39.1182 53.6104C34.8701 53.6104 31.4033 52.8861 28.7178 51.4375C26.0485 49.9889 23.9733 47.8324 22.4922 44.9678C21.0273 42.1032 20.2949 38.8154 20.2949 35.1045C20.2949 31.1982 21.1006 27.8047 22.7119 24.9238C24.3232 22.0267 26.6833 19.8294 29.792 18.332C32.2171 17.1764 35.4805 16.5986 39.582 16.5986C43.5371 16.5986 46.4912 16.9567 48.4443 17.6729C50.4137 18.389 52.0413 19.5039 53.3271 21.0176C54.6292 22.515 55.6058 24.4193 56.2568 26.7305L45.5879 28.6348C45.1484 27.2839 44.3997 26.2503 43.3418 25.5342C42.3001 24.818 40.9655 24.46 39.3379 24.46C36.9128 24.46 34.9759 25.3063 33.5273 26.999C32.0951 28.6755 31.3789 31.3366 31.3789 34.9824C31.3789 38.8561 32.1032 41.623 33.5518 43.2832C35.0166 44.9434 37.0511 45.7734 39.6553 45.7734C40.8923 45.7734 42.0723 45.5944 43.1953 45.2363C44.3184 44.8783 45.6042 44.2679 47.0527 43.4053V40.0361H39.6553Z' fill='white'/%3e%3cpath d='M61.9209 35.1289C61.9209 29.2858 63.5485 24.7367 66.8037 21.4814C70.0589 18.2262 74.5918 16.5986 80.4023 16.5986C86.3594 16.5986 90.9492 18.2018 94.1719 21.4082C97.3945 24.5983 99.0059 29.0742 99.0059 34.8359C99.0059 39.0189 98.2979 42.4531 96.8818 45.1387C95.4821 47.8079 93.4476 49.8913 90.7783 51.3887C88.1253 52.8698 84.8132 53.6104 80.8418 53.6104C76.8053 53.6104 73.4606 52.9674 70.8076 51.6816C68.1709 50.3958 66.0306 48.3613 64.3867 45.5781C62.7428 42.7949 61.9209 39.3118 61.9209 35.1289ZM72.9805 35.1777C72.9805 38.791 73.6478 41.387 74.9824 42.9658C76.3333 44.5446 78.1644 45.334 80.4756 45.334C82.8519 45.334 84.6911 44.5609 85.9932 43.0146C87.2952 41.4684 87.9463 38.6934 87.9463 34.6895C87.9463 31.3203 87.2627 28.8626 85.8955 27.3164C84.5446 25.7539 82.7054 24.9727 80.3779 24.9727C78.1481 24.9727 76.3577 25.762 75.0068 27.3408C73.6559 28.9196 72.9805 31.5319 72.9805 35.1777Z' fill='white'/%3e%3cpath d='M0 34H1V66H0V34Z' fill='%23CD06FF'/%3e%3cpath d='M0 66V65H51V66H0Z' fill='%23CD06FF'/%3e%3cpath d='M120 32H119V0H120V32Z' fill='%23CD06FF'/%3e%3cpath d='M120 0V1H69V0H120Z' fill='%23CD06FF'/%3e%3c/svg%3e ");
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 587px;
  height: 50px;
  padding-bottom: 80px;
  margin: 0 auto;
  font-size: var(--font-size-22, 22px);
  font-weight: var(--font-weight-400, 400);
  line-height: var(--line-height-50, 50px);
  text-transform: uppercase;
}

.header-nav-button__button {
  width: 280px;
  height: 55px;
  border: 3px solid var(--color-violet, #CD06FF);
  border-radius: 10px;
  font-weight: var(--font-weight-700, 700);
  font-size: var(--font-size-22, 22px);
  line-height: var(--line-height-30, 30px);
  text-transform: uppercase;
  color: var(--color-white, #FFFFFF);
  background-color: var(--color-mostly-black, #1B1A1B);
  transition: background 0.5s, border 0.5s, color 0.5s;
}

.header-nav-button__button:focus {
  background: var(--color-gray-dark, #6C0287);
  border-radius: 10px;
  color: var(--color-white, #FFFFFF);
}

.header-nav-button__button:active {
  background: var(--color-mostly-violet, var(--color-mostly-violet, #640AA3); );
  ;
  border: 1px solid var(--color-maximum-black, #000000);
  ;
  border-radius: 10px;
  color: var(--color-white, #FFFFFF);
}

.header-nav-button__button:hover {
  background: var(--color-gray-dark, #6C0287);
  border: 3px solid var(--color-gray-dark, #6C0287);
  border-radius: 10px;
  color: var(--color-white, #FFFFFF);
}

@media (max-width: 1200px) {
  .header-nav {
    max-width: 904px;
    gap: 6.58vw;
    padding: 46px 0 0;
    font-size: var(--font-size-22, 22px);
  }

  .header-logo__go {
    width: 87px;
    height: 55px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='87' height='55' viewBox='0 0 87 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27.3242 33.6289V27.6719H40.9961V39.8789C38.3789 41.6628 36.0612 42.8802 34.043 43.5312C32.0378 44.1693 29.6549 44.4883 26.8945 44.4883C23.4961 44.4883 20.7227 43.9089 18.5742 42.75C16.4388 41.5911 14.7786 39.8659 13.5938 37.5742C12.4219 35.2826 11.8359 32.6523 11.8359 29.6836C11.8359 26.5586 12.4805 23.8438 13.7695 21.5391C15.0586 19.2214 16.9466 17.4635 19.4336 16.2656C21.3737 15.3411 23.9844 14.8789 27.2656 14.8789C30.4297 14.8789 32.793 15.1654 34.3555 15.7383C35.931 16.3112 37.2331 17.2031 38.2617 18.4141C39.3034 19.612 40.0846 21.1354 40.6055 22.9844L32.0703 24.5078C31.7188 23.4271 31.1198 22.6003 30.2734 22.0273C29.4401 21.4544 28.3724 21.168 27.0703 21.168C25.1302 21.168 23.5807 21.8451 22.4219 23.1992C21.276 24.5404 20.7031 26.6693 20.7031 29.5859C20.7031 32.6849 21.2826 34.8984 22.4414 36.2266C23.6133 37.5547 25.2409 38.2188 27.3242 38.2188C28.3138 38.2188 29.2578 38.0755 30.1562 37.7891C31.0547 37.5026 32.0833 37.0143 33.2422 36.3242V33.6289H27.3242Z' fill='white'/%3e%3cpath d='M45.1367 29.7031C45.1367 25.0286 46.4388 21.3893 49.043 18.7852C51.6471 16.181 55.2734 14.8789 59.9219 14.8789C64.6875 14.8789 68.3594 16.1615 70.9375 18.7266C73.5156 21.2786 74.8047 24.8594 74.8047 29.4688C74.8047 32.8151 74.2383 35.5625 73.1055 37.7109C71.9857 39.8464 70.3581 41.513 68.2227 42.7109C66.1003 43.8958 63.4505 44.4883 60.2734 44.4883C57.0443 44.4883 54.3685 43.974 52.2461 42.9453C50.1367 41.9167 48.4245 40.2891 47.1094 38.0625C45.7943 35.8359 45.1367 33.0495 45.1367 29.7031ZM53.9844 29.7422C53.9844 32.6328 54.5182 34.7096 55.5859 35.9727C56.6667 37.2357 58.1315 37.8672 59.9805 37.8672C61.8815 37.8672 63.3529 37.2487 64.3945 36.0117C65.4362 34.7747 65.957 32.5547 65.957 29.3516C65.957 26.6562 65.4102 24.6901 64.3164 23.4531C63.2357 22.2031 61.7643 21.5781 59.9023 21.5781C58.1185 21.5781 56.6862 22.2096 55.6055 23.4727C54.5247 24.7357 53.9844 26.8255 53.9844 29.7422Z' fill='white'/%3e%3cpath d='M0 23H1V55H0V23Z' fill='%23CD06FF'/%3e%3cpath d='M0 55V54H51V55H0Z' fill='%23CD06FF'/%3e%3cpath d='M87 32H86V0H87V32Z' fill='%23CD06FF'/%3e%3cpath d='M87 0V1H36V0H87Z' fill='%23CD06FF'/%3e%3c/svg%3e ");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .nav-list {
    display: flex;
    margin: 0 auto;
    width: 430px;
    height: 22px;
    padding-bottom: 47px;
    font-size: var(--font-size-18, 18px);
  }

  .header-nav-button__button {
    width: 229px;
    height: 45px;
    border-radius: 8px;
    font-size: var(--font-size-18, 18px);
    line-height: var(--line-height-25 24px);
  }
}

@media (max-width: 992px) {
  .header-nav {
    display: none;
  }

  .header-nav__small {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 688px;
    padding: 43px 0 0;
    font-size: var(--font-size-18, 18px);
    margin: 0 auto;
  }

  .header-nav-btn {
    display: flex;
    background-color: inherit;
    cursor: pointer;
  }

  .nav-btn {
    width: 54px;
    height: 29px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='54' height='29' viewBox='0 0 54 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='54' height='5' rx='2' fill='%236C0287'/%3e%3crect y='12' width='54' height='5' rx='2' fill='%236C0287'/%3e%3crect y='24' width='31' height='5' rx='2' fill='%236C0287'/%3e%3c/svg%3e ");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: inherit;
    border: none;
    outline: none;
  }

  .nav-btn:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='54' height='29' viewBox='0 0 54 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='54' height='5' rx='2' fill='%23CD06FF'/%3e%3crect y='12' width='54' height='5' rx='2' fill='%23CD06FF'/%3e%3crect y='24' width='31' height='5' rx='2' fill='%23CD06FF'/%3e%3c/svg%3e ");
  }

  .nav-btn:active {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='54' height='29' viewBox='0 0 54 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='54' height='5' rx='2' fill='%23840AA3'/%3e%3crect y='12' width='54' height='5' rx='2' fill='%23840AA3'/%3e%3crect y='24' width='31' height='5' rx='2' fill='%23840AA3'/%3e%3c/svg%3e ");
  }

  .nav-btn:focus {
    width: 54px;
    height: 29px;
    background-image: url("/img/main-other-rooms/menu.svg");
  }
}


@media (max-width: 576px) {

  .header-nav__small {
    max-width: 280px;
    justify-content: space-between;
  }

  .header-nav-button__small {
    display: none;
  }

  .nav-btn {
    width: 39px;
    height: 20px;
  }

  .header-logo__go {
    width: 66px;
    height: 42px;
  }
}