.header-banner {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0 auto;
}

.header-banner::after {
  content: "";
  width: 675px;
  height: 762px;
  background-image: url("/img/header-banner/banner.jpg");
  background-size:contain;
  position:absolute;
  top: 4em;
  left: 28em;
}

.header-banner__title-h1 {
  font-size: 150px;
  font-weight: 900;
  line-height: 100%;
  margin  : 0px;
  text-align: center;
  letter-spacing: -0.1em;
}

.header-banner__text {
  display: flex;
  font-size: 28px;
  font-weight: 400;
  padding-left: 100px;
  flex-basis: 100%;
  padding-bottom: 30px;
}

.header-banner-info{
  display: flex;
  gap: 40px;
  width: 400px;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.header-banner-info-hall{
  width: 193px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  padding-bottom: 150px;
}

.header-banner-info-hall__text{
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: #CD06FF;
}

.header-banner-info-devices{
  width: 161px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 150px;
}

.header-banner-info-devices__text{
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  font-variant: small-caps;
  color: #CD06FF;
}

.header-baner-button__button{
  width: 374px;
  height: 80px;
  left: 130px;
  top: 735px;
  background: #6C0287;
  border-radius: 10px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-color: #6C0287;
}

.header-baner-button__button:focus{
  background: #6C0287;
  border-radius: 10px;
  color: #FFFFFF;
}

.header-baner-button__button:active{
  background: #640AA3;
  border-radius: 10px;

}

.header-baner-button__button:hover{
  background: #840AA3;
  border-radius: 10px;
}

.header-banner-down{
  padding-bottom: 190px;
  justify-content: center;
  z-index: 1;
  padding-left: 155px;
  padding-top: 40px;
}

.header-banner-down__down{
  background: none;
  border: none;
  width: 97px;
  height: 97px;
  background-image: url("/img/header-nav/down.svg");
  background-repeat: no-repeat;
}

.header-banner-down__down:focus{
  background-image: url("/img/header-banner/down-focus.png");
  background-repeat: no-repeat;
}

.header-banner-down__down:active{
  background-image: url("/img/header-banner/down-active.png");
  background-repeat: no-repeat;
}

.header-banner-down__down:hover{
  background-image: url("/img/header-banner/down-hover.png");
  background-repeat: no-repeat;
}

.header-nav-button__button:focus{
  background: #6C0287;
  border-radius: 10px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-nav-button__button:active{
  background: #640AA3;
  border: 1px solid #000000;
  border-radius: 10px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-nav-button__button:hover{
  background: #6C0287;
  border: 3px solid #6C0287;
  border-radius: 10px;
  color: #FFFFFF;
  }