.main-games-container{
  width: 1180px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 106px;
}

.main-games__title-h2{
  display: flex;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  padding-bottom: 41px;
}

.main-games__table{
  display: flex;
  height: 608px;
  flex-wrap: wrap;
  gap: 40px 20px;

}

.table__list{
  display: flex;
  perspective: 600px;
  align-self: flex-start;
}

.table__list:nth-child(2) {
  align-self:flex-end;
}

.table__list:nth-child(5) {
  align-self:flex-end;
}

.table__block{
  position: relative;
  width: 380px;
  transition:transform 0.4s;
}

.table__block:hover{
  transform: translateZ(50px);
}

.table__text{
  position: absolute;
  width: 300px;
  top: 165px;
  right: 50px;
  text-align:left;
  justify-content: baseline;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
