.main-reviews {
  display:flex;
  flex-wrap: wrap;|
}

.main-reviews__title-h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;;
  text-align: center;
  padding-bottom: 40px;
}

.main-reviews-list-li{
  display: flex;
  gap: 20px;
  padding-bottom: 50px;
}

.main-reviews-list-li-figure{
  display: flex;
  width: 280px;
  flex-wrap: wrap;
}

.main-reviews-list-li-figure-img{
  width: 280px;
  border-radius: 50%;
  padding-bottom: 11px;
}

.main-reviews-list-li-figure-text{
  width: 680px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-top: 50px;
}

.main-reviews-list-li-figure__figcaption{
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}