.main-reviews {
  display:block;
}

.main-reviews__title-h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;;
  text-align: center;
  padding-bottom: 40px;
}

.main-reviews-list-li{
  display: flex;
  gap: 20px;
  padding-bottom: 50px;
}

.main-reviews-list-li-figure{
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 319px;
  text-align: center;
  align-self:flex-end;
  position: relative;
}

.main-reviews-list-li-figure-div-img{
  border-radius: 50%;
  }

.img-container{
  display: block;
  position:relative;
  width: 280px;
  z-index: 1;
}

  .img-container::after{
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
  border-radius: 50%;
  z-index: 2;
}

.main-reviews-list-li-figure-text{
  width: 680px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-top: 50px;
}

.main-reviews-list-li-figure__name{
  display: flex;
  width: 280px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  
}