.container-reservation {
  width: 100%;
  background-color: #440F51;
}

.main-reservation {
  display: block;
  width: 1180px;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 1em;
  background: #440F51;
  flex-wrap: wrap;
}

.main-reservation__title-h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.main-reservation-section-title-h3 {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.main-reservation-hall-selection__title-h3 {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.main-reservation-hall-selection-list{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 1180px;
  
}

.main-reservation-hall-selection-buttons-list {
  display: flex;
  gap: 60px;
  padding-bottom: 68px;
  justify-content: baseline;
}

.main-reservation-hall-selection-buttons-list__button {
  width: 250px;
  height: 55px;
  background: #FFFFFF;
  border-radius: 8px;
  border-color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}


.main-reservation-section {
  display: block;
  width: 1180px;
}

.main-reservation-section-div {
  display: flex;
  justify-content:flex-end;
  gap: 100px;
  margin: 0 auto;
}

.main-reservation-section-div-set-consoles {
  display: flex;
  width: 280px;
  flex-direction: column;
  padding-bottom: 67px;
}

.main-reservation-section-div-set-board-games{
  display: flex;
  width: 300px;
  flex-direction: column;
  padding-bottom: 67px;
}

.main-reservation-section-div-set-additionally{
  display: flex;
  width: 300px;
  flex-direction: column;
  padding-bottom: 67px;
}

.main-reservation-section-title-h3 {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.main-reservation-div {
  display: flex;
  width: 980px;
  margin: 0 auto;
}

.main-reservation-section-div-form-3 {
  display: flex;
  width: 280px;
  padding: 0px;
  flex-wrap: wrap;
  gap: 14px;
}

.main-reservation-section-form {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-bottom: 40px;
  margin: 0 auto;
}

.main-reservation-section-div-form {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  gap: 14px 30px;
  width: 980px;
}

.main-reservation-section-div-form-title-h4 {
  display: flex;
  flex-basis: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 24px;
}

.label{
  display: flex;
  flex-direction: column-reverse;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  gap: 6px;
}

.form-1 {
  width: 134px;
  height: 52px;
}

.form-3 {
  width: 280px;
  height: 52px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.form-2 {
  width: 300px;
  height: 52px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.form-4 {
  width: 300px;
  height: 52px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.main-reservation-controls {
  display: flex;
  justify-content: flex-end;
}

.main-reservation-controls__button {
  width: 300px;
  height: 60px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
  border-color: #FFFFFF
}


.title-h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 24px;
}

.list {
  display: block;
}

.li__input {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  padding-left: 10px;
  margin-right: 10px;
}

.li {
  display: flex;
  padding-bottom: 22px;
}