.main-halls {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0;
}

.main-halls-title-h2 {
  width: 100%;
  font-weight: var(--font-weight-700, 700);
  font-size: var(--font-size-40, 40px);
  line-height: var(--line-height-50, 50px);
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;
  flex-basis: 100%;
}

.main-halls-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  gap: 1.43vw;
  margin: 0 auto;
  padding-bottom: 100px;
}

.hall-80-vibe {
  grid-area: 1/1/2/2;
}

.hall-star-wars {
  grid-area: 1/2/2/3;
}

.hall-wild-west {
  grid-area: 2/1/3/2;
}

.hall-neon-style {
  grid-area: 2/2/3/3;
}

.main-halls-figure {
  position: relative;
  color: var(--color-white, #FFFFFF);
  font-size: var(--font-size-70, 70px);
  font-weight: var(--font-weight-700, 700);
  text-align: center;
  text-transform: uppercase;
  line-height: var(--line-height-80, 80px);
  width: 100%;
  height: auto;
  max-height: 349px;
  max-width: 580px;
}

.main-halls-text {
  position: absolute;
  width: 252px;
  overflow-wrap: normal;
  left: 170px;
  top: 100px;
  font-weight: var(--font-weight-700, 700);
  font-size: var(--font-size-70, 70px);
  line-height: var(--line-height-80, 80px);
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .main-halls {
    max-width: 904px;
  }

  .main-halls-title-h2 {
    font-size: var(--font-size-30, 30px);
    line-height: var(--line-height-40, 40px);
    padding-bottom: 37px;
  }

  .main-halls-con {
    gap: 1.43vw;
    padding-bottom: 71px;
  }


  .main-halls-text {
    width: 252px;
    left: 95px;
    top: 73px;
    font-size: var(--font-size-50, 50px);
    line-height: var(--line-height-60, 60px);
  }
}

@media (max-width: 992px) {
  .main-halls {
    max-width: 688px;
  }

  .main-halls-title-h2 {
    font-size: var(--font-size-24, 24px);
    line-height: var(--line-height-36, 36px);
    padding-bottom: 35px;
  }

  .main-halls-con {
    gap: 1.43vw;
    padding-bottom: 62px;
  }

  .main-halls-text {
    width: 129px;
    left: 33%;
    top: 50px;
    font-size: var(--font-size-40, 40px);
    line-height: var(--line-height-50, 50px);
  }
}

@media (max-width: 576px) {
  .main-halls {
    max-width: 280px;
  }

  .main-halls-title-h2 {
    font-size: var(--font-size-14, 14px);
    line-height: var(--line-height-18, 18px);
    padding-bottom: 15px;
  }

  .main-halls-con {
    gap: 1.43vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding-bottom: 30px;
  }

  .hall-80-vibe {
    grid-area: 1/1/2/2;
  }

  .hall-star-wars {
    grid-area: 2/1/3/2;
  }

  .hall-wild-west {
    grid-area: 3/1/4/2;
  }

  .hall-neon-style {
    grid-area: 4/1/5/2;
  }

  .main-halls-text {
    width: 84px;
    left: 100px;
    top: 50px;
    font-size: var(--font-size-26, 26px);
    line-height: var(--line-height-34, 34px);
  }
}