.container-reservation {
  width: 100%;
  background-color: #440F51;
}

.main-reservation {
  display: block;
  width: 1180px;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 1em;
  background: #440F51;
  flex-wrap: wrap;
}

.main-reservation__title-h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 80px;
  padding-bottom: 40px;
}

.main-reservation-section-title-h3 {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.main-reservation-hall-selection__title-h3 {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.main-reservation-hall-selection-list{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 1180px;
  
}

.main-reservation-hall-selection-buttons-list {
  display: flex;
  gap: 60px;
  padding-bottom: 68px;
  justify-content: baseline;
}

.main-reservation-hall-selection-buttons-list__button {
  width: 250px;
  height: 55px;
  background: var(--color-white ,#FFFFFF);
  border-radius: 8px;
  border-color: var(--color-white ,#FFFFFF);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.5s, border 0.2s, color 0.5s;
}

.main-reservation-hall-selection-buttons-list__button:hover{
  background: #EADEED;
  border: 3px solid #640AA3;
  border-radius: 8px;
  color: #000000;
  outline: none;
}

.main-reservation-hall-selection-buttons-list__button:active{
  background: var(--color-gray-dark, #6C0287);
  border: 3px solid var(--color-white ,#FFFFFF);
  border-radius: 8px;
  color: var(--color-white ,#FFFFFF);
  outline: none;
}

.main-reservation-hall-selection-buttons-list__button:focus{
  background: var(--color-white ,#FFFFFF);
  border: 3px solid #640AA3;
  border-radius: 8px;
  color: #000000;
  outline: none;
}

.main-reservation-section {
  display: block;
  width: 980px;
  margin: 0 auto;
}

.main-reservation-section-div {
  display: flex;
  justify-content:flex-end;
  gap: 100px;
  margin: 0 auto;
}

.main-reservation-section-div-set-consoles {
  display: flex;
  width: 280px;
  flex-direction: column;
  padding-bottom: 67px;
}

.main-reservation-section-div-set-board-games{
  display: flex;
  width: 300px;
  flex-direction: column;
  padding-bottom: 67px;
}

.main-reservation-section-div-set-additionally{
  display: flex;
  width: 300px;
  flex-direction: column;
  padding-bottom: 67px;
}

.main-reservation-section-title-h3 {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.main-reservation-div {
  display: flex;
  margin: 0 auto;
}

.main-reservation-section-div-form-3 {
  display: flex;
  width: 280px;
  padding: 0px;
  flex-wrap: wrap;
  gap: 14px;
}

.main-reservation-section-form {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-bottom: 40px;
  margin: 0 auto;
}

.main-reservation-section-div-form {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  padding: 0px;
  gap: 14px 30px;
}

.main-reservation-section-div-form-title-h4 {
  flex-basis: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 24px;
  margin: 0 auto;
  text-align: center;
}

.label{
  display: flex;
  flex-direction: column-reverse;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  gap: 6px;
}

.form-1 {
  position: relative;
  width: 134px;
  height: 52px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  z-index: 2;
  transition: background 0.5s, border 0.6s;
}

.form-1:focus{
  background: var(--color-white ,#FFFFFF);
  border: 2px solid var(--color-violet,#CD06FF);
  outline: none;
}

.form-1::placeholder{
  color: #211E1E;
  opacity: 1;
  padding: 10px;
  background-image: url("/img/main-reservation/Polygon1.png");
  background-repeat: no-repeat;
  background-position: 90%;
}

.form__time{
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  transition: background 0.5s, border 0.6s;
}

.form__time:focus{
  background: var(--color-white ,#FFFFFF);
  border: 2px solid var(--color-violet,#CD06FF);;
}

.form-3 {
  width: 280px;
  height: 52px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  transition: color 0.5s, background 0.5s, border 0.6s;
}

.form-3:focus{
  background: var(--color-white ,#FFFFFF);
  border: 2px solid var(--color-violet,#CD06FF);;
  outline: none;
}

.form-2 {
  width: 300px;
  height: 52px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  transition: color 0.5s, background 0.5s, border 0.6s;
}

.form-2::placeholder{
  color: #211E1E;
  opacity: 1;
  padding: 10px;
  background-image: url("/img/main-reservation/Polygon1.png");
  background-repeat: no-repeat;
  background-position: 95%;
}

.form-2:focus{
  background: var(--color-white ,#FFFFFF);
  border: 2px solid var(--color-violet,#CD06FF);;
  outline: none;
}

.form-4 {
  width: 300px;
  height: 52px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  transition: color 0.5s, background 0.5s, border 0.6s;
}

.form-4:focus{
  background: var(--color-white ,#FFFFFF);
  border: 2px solid var(--color-violet,#CD06FF);;
  outline: none;
}

.main-reservation-controls {
  display: flex;
  justify-content: flex-end;
}

.main-reservation-controls__button {
  width: 300px;
  height: 60px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-gray-dark, #6C0287);
  border-color: var(--color-white ,#FFFFFF); 
  transition: color 0.5s, background 0.5s, border 0.6s;

}

.main-reservation-controls__button:hover{
  color: var(--color-gray-dark, #6C0287);
  background: #EADEED;
  border: 3px solid #6C0287;
}

.main-reservation-controls__button:active{
  color: var(--color-gray-dark, #6C0287);
  background: #EADEED;
}

.main-reservation-controls__button:focus{
  color: var(--color-gray-dark, #6C0287);
  background: var(--color-white ,#FFFFFF);
  border: 3px solid var(--color-gray-dark, #6C0287);
}

.title-h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 24px;
}

.list {
  display: block;
}

.li__input {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  padding-left: 10px;
  margin-right: 10px;
}

.li {
  display: flex;
  padding-bottom: 22px;
}


.li__input{
  display: none;
}

.list-consoles-li{
  display: inline-flex;
  align-items: center;
  width: 100%;

}

.span{
  display: inline-flex;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  top: 50%;
  transform: translateY(-20%);
  margin-left: 5px;
}

.list-consoles-li__fake{
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: var(--color-white ,#FFFFFF);
  position: relative;
  border-radius: 50%;
}

.list-consoles-li__fake::before{
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 14px;
  height: 14px;
  background-color:blueviolet;
  opacity: 0;
  border-radius: 50%;
  transition: .2s;
}


.list-consoles-li__input:checked + .list-consoles-li__fake::before{
  opacity: 1;
}


.list-consoles-li__fake::after{
  content: "";
  top: 25%;
  left: 50%;
  display: block;
  position: absolute;
  background-color: transparent;
  transform: translate(-50%,-30%);
  width: 33px;
  height: 33px; 
  border: 1px solid var(--color-violet,#CD06FF);
  border-radius: 0;
  opacity: 0;
  transition: 0.5s ;
}

.list-consoles-li__input:hover + .list-consoles-li__fake::after{
  opacity: 1;
}

.fake{
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color:var(--color-white ,#FFFFFF);
  position: relative;
}

.fake::before{
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 14px;
  height: 14px;
  background-color:blueviolet;
  opacity: 0;
  transition: .2s;
}

.li__input:checked + .fake::before{
  opacity: 1;
}

.fake::after{
  content: "";
  top: 25%;
  left: 50%;
  display: block;
  position: absolute;
  background-color: transparent;
  transform: translate(-50%,-30%);
  width: 33px;
  height: 33px; 
  border: 1px solid var(--color-violet,#CD06FF);
  border-radius: 0;
  opacity: 0;
  transition: 0.5s 
}

.li__input:hover + .fake::after{
  opacity: 1;