.main-halls {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.main-halls-title-h2 {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 60px;
  flex-basis: 100%;
}

.main-halls-con {
  display: grid;
  grid-template: repeat(2, 1fr)/ repeat(2, 1fr);
  width: 100%;
  gap: 1.43vw;
  margin: 0 auto;
  padding-bottom: 100px;
}

.hall-80-vibe {
  grid-area: 1/1/2/2;
}

.hall-star-wars {
  grid-area: 1/2/2/3;
}

.hall-wild-west {
  grid-area: 2/1/3/2;
}

.hall-neon-style {
  grid-area: 2/2/3/3;
}

.main-halls-figure {
  position: relative;
  color: #FFFFFF;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 80px;
  width: 100%;
  height: auto;
  max-height: 349px;
  max-width: 580px;
}

.main-halls-text {
  position: absolute;
  width: 252px;
  overflow-wrap: normal;
  left: 170px;
  top: 100px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}